@import url('/fonts/Paris2024VariableRegular.ttf');
/* @import url('http://fonts.cdnfonts.com/css/paris2024?styles=109875,109876,109877'); */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 130px;
}

h1, h2 {
    text-align: center;
    padding: 30px 0;
    font-family: 'Paris2024', sans-serif;
    font-weight: 700;
}

/* tables d'insertion */

.table-insert{
    margin: 0 auto;
}

.table-insert td {
    font-family: 'Paris2024', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}

.table-insert select {
    font-family: 'Paris2024', sans-serif;
    font-size: 0.9em;
    width: 200px;
    border-radius: 15px;
}

.table-insert input {
    background: none;
    border-radius: 15px;
    padding: 5px;
    width: 200px;
    font-family: 'Paris2024', sans-serif;
    text-align: center;
}

.table-insert input:focus{
    background-color: #A8E7FD;
}

.boutonP {
    font-size: 0.9em;
}

.img-dif {
    margin: 0 7px;
}

/*  fin tables d'insertion */

/* table d'affichages */

.table-affiche {
    margin: 0 auto;
}

.table-affiche td {
    border: 1px solid black;
    padding: 5px 5px;
    width: 120px;
    text-align: center;
    font-family: 'Paris2024', sans-serif;
    border-radius: 10px;
}

.table-affiche tr:hover {
    background-color: #A8E7FD;
}

/* fin tables d'affichage */

/* home.php */
.image-accueil {
    width: 400px;
    height: 300px;
    object-fit: cover;
}


/* fin home.php */



/* index.php */

/* navbar */

.navigation_navbar {
    background: linear-gradient(-90deg, rgba(156, 156, 156, 1) 0%, rgba(18, 103, 120, 0.9052214635854342) 38%, rgba(9, 58, 121, 0.9220281862745098) 80%);
}

.navigation_navbar ul {
    display: flex;
    justify-content: space-around;
}

.navigation_navbar ul li {
    padding: 5px;
    list-style-type: none;
    align-self: center;
}

.navigation_navbar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Paris2024', sans-serif;
}

.navigation_navbar .image-logo {
    height: 80px;
}

/* fin navbar  */

/* fin index.php */


/* footer */

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    color: white;
    background: linear-gradient(-90deg, rgba(156, 156, 156, 1) 0%, rgba(18, 103, 120, 0.9052214635854342) 38%, rgba(9, 58, 121, 0.9220281862745098) 80%);
    padding: 10px 0;
    font-weight: 700;
}

.responsive_footer ul li,
.responsive_footer a,
.responsive_footer p {
    font-size: 1em;
}

.responsive_footer ul {
    list-style-type: none;
}


.responsive_footer a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

.responsive_footer a:hover {
    background-color: #E3E3E3;
    border-radius: 15px;
    transition: 0.3s;
    color: black;
}

/* fin footer */